<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/problem.css">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'] ],
          processEscapes: true
        },
        messageStyle: "none"
      });
    </script>
</head>
<body>
    <header>
    <ul>
        <li><a><b>Week:</b></a></li>
    <% for(var i=1; i < weeks+1; i++) { %>
        <% if (i == week) { %>
          <li class="active"><a href="/week/<%= i %>"><%= i %></a></li>
        <% } else { %>
          <li><a href="/week/<%= i %>"><%= i %></a></li>
        <% } %>
    <% } %>
    </ul>
    </header>
    <noscript>
      Please enable JavaScript to use the class.
    </noscript>